<section>
    <h2>Side administrasjon</h2>

    <div class="metadata-container">
        <div class="last-active">
            <span>last active: </span>
            <time *ngIf="admin">{{admin.lastActive | date}}</time>
        </div>
        <div>
            <button class="btn-flat btn-logout" (click)="logout()">Logg ut</button>
        </div>
    </div>
</section>

<app-general-fields></app-general-fields>

<div class="section-splitter"></div>

<app-profile-fields [admin]="admin" (save)="saveProfile($event)"></app-profile-fields>

<div class="section-splitter"></div>

<app-project-field></app-project-field>

<div class="section-splitter"></div>

<app-estate-field></app-estate-field>