<div *ngIf="name">
    <div class="carousel">
        Carousel
    </div>

    <div  class="flex-container">
        <div class="description">
            <h3>{{title}}</h3>
            <p>
                {{description}}
                <!--TODO: Fjern lorem ipsum-->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at est hendrerit, eleifend dolor nec, tincidunt ipsum. Morbi quis dui leo. Fusce felis massa, fermentum et tincidunt in, malesuada id tellus. Sed commodo arcu sit amet volutpat ultricies. Nunc a mattis est. Proin malesuada convallis augue a lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec aliquam et velit et aliquam.
            </p>
            <a href="{{url}}">{{url}}</a>
        </div>
    </div>
</div>