/*
 *  Place your global styles here. However one should also use the component-line
 *  stylesheets, to prevent filling up this file too much.
 *
 *  AVOID using element Ids for styling. Unecessary in almost all situations
 *
 *
 *
 */
@import "stylesheets/declarations";
@import "stylesheets/material-form";
@import "stylesheets/material-buttons";

html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: $primary-font;
  background-color: $primary-background-color;
}

/* Element reserved for title */
h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Sub-titles */
h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0.5em;
}

// Remove outlining on everything
button:focus, input:focus, textarea:focus {
  outline: none;
}

.section-splitter {
  position: relative;
  background-color: $divider-color;

  height: 1px;

  margin: 20px auto 20px auto;

  width: 100px;
}

section {
  position: relative;
}

/**
 * This tag can be used to define descriptions for headers
 * or elements
 */
small {
  position: relative;

  width: 100%;
  max-width: 50em;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}