@import "../../../stylesheets/declarations";

footer {
  font-family: $primary-font;
  background-color: $footer-bg-color;
  color: $primary-background-color;
  padding: 0.5em 1em 0;

  overflow-x: hidden; // Denne må fiksast
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70em;
  margin: auto;

  div {
    flex: 1;
    padding: 0 1em;
    min-width: 13em;
  }
}

app-map {
  flex: 1;
  box-sizing: border-box;
  min-width: 22em;
  min-height: 10em;
  padding-bottom: 1em;
}
