@import "../../../stylesheets/declarations";

footer {
  font-family: $footer-font;
  background-color: $footer-bg-color;
  color: #F5F5F5;
  padding: 0.5em 1em 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;

  div {
    flex: 1;
    padding: 0 1em;
    min-width: 220px;
  }
}

app-map {
  flex: 1;
  min-width: 270px;
  min-height: 150px;
  padding-bottom: 1em;
}
