@import "../../stylesheets/_declarations.scss";
@import "../../stylesheets/material-list.scss";
@import "../../stylesheets/material-buttons.scss";


div.info-container{
  width: calc(100% - (#{$list-height-large}));
  font-family: $primary-font;
  color: $primary-text;
  left: $list-height-large + 30px;
  position: absolute;
  height: $list-height-large;
  display: block;
  margin-top: 7px;
}

button {
  width: calc(100% - 45px - (#{$list-height-large}));
}
