@import "../../stylesheets/_declarations.scss";
@import "../../stylesheets/material-list.scss";
@import "../../stylesheets/material-buttons.scss";

$offset-left: 30px;


div.info-container{
  text-align: justify;
  font-family: $primary-font;
  color: $primary-text;
  left: $list-height-large + $offset-left;
  right: $offset-left;
  position: absolute;
  height: $list-height-large;
  display: block;
  margin-top: 7px;
}

h1, h2, h3{
  width: calc(100% - ((#{$offset-left})*2));
  margin-left: 0;
  margin-right: 0;
}

button {
  width: calc(100% - (#{$offset-left}) - ((#{$offset-left})/2) - (#{$list-height-large}));
}
