@import "../../stylesheets/_declarations";
@import "../../stylesheets/material-list";

@media screen and(min-width: $resize-width) {
  margin-top: 15px;
  height: $list-height-large;

  button.project {
    width: calc(100% - 60px - (#{$list-height-large}));
  }

  .info-container.project{
    width: 100%;
    height: 100%;
    padding-left: 15px;
  }
}

