
.pswp {
  position: relative !important;
  
  min-height: 45vw;

  .relative {
    position: relative !important;
  }
  
  .fixed {
    position: fixed !important;
  }
  
  .pswp__button {
    z-index: 10;
  }
}
