<div class="carousel-container">
    <img [src]="carouselFrame[0].img">
    <img [src]="carouselFrame[1].img">
    <img [src]="carouselFrame[2].img">
    
    <div>
      <span *ngIf="carouselFrame[1].description" [innerHTML]="carouselFrame[1].description"></span>
      <button [routerLink]="[carouselFrame[1].url]" class="info-btn"> Les mer </button>
    </div>
  
    <button class="prev-button" (click)="prev()"> < </button>
    <button class="next-button" (click)="next()"> > </button>
  
</div>
