@import "../../../stylesheets/declarations";

.carousel {
  
  background-color: $secondary-background-color;
  min-height: 9.4em;
  max-height: 34.4em;
  margin: 0 auto;
  position: relative;
  width: 100%;
  
  .desc-carousel {
    bottom: 0;
    height: 3em;
    
    span {
      flex: 7;
      margin: 0.3em;
    }
    
    .btn-desc {
      flex: 1.5;
      height: 2em;
      margin: auto 1em;
      min-width: 7em;
      overflow: hidden;
      padding: 0 0.5em 0;
      width: 7em;
      
      span {
        width: 4em;
      }
      
      &:hover {
        background-color: $secondary-background-color;
      }
    
    }
    
      .disappear {
        display: none;
      }
  }
  
  .showcase {
    align-items: center;
    box-sizing: border-box;
    background: $carousel-background-color;
    bottom: 0;
    color: $icon-text;
    display: flex;
    height: 3em;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 23;
  }
  
  img:not(.viewed) {
    display: none;
  }
  
  img.viewed {
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    width: inherit;
  }
  
  img.scale-down {
    object-fit: scale-down;
  }
  
  .toolbar {
    box-sizing: border-box;
    display:flex;
    height: 100%;
    padding: 0;
    width: 100%;
    
    .toolbar-top {
      display: flex;
      height: 2em;
      top: 0;
      
      span {
        text-align: center;
        flex: 9;
      }
  
      .btn-fullscreen {
        background-color: $blurred;
        flex: 1;
        height: inherit;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 25;
    
        &:hover {
          background-color: $secondary-text;
        }
    
        svg {
          fill: $secondary-background-color;
          height: 2em;
          width: 2em;
        }
      }
      
    }
    
    .btn-container {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      width: 33vw;
      z-index: 22;
      
      &:nth-child(3) {
        margin-left: auto;
      }
  
      &:hover {
        .btn-arrow {
          background-color: $carousel-background-color;
  
          svg {
            fill: $secondary-background-color;
          }
        }
      }
  
      .btn-arrow {
        background-color: $blurred;
        border: none;
        border-radius: 70%;
        height: 3em;
        outline:none;
        overflow: hidden;
        padding: 0;
        position: absolute;
        transition:.5s;
        width: 3em;
        z-index: 19;
    
        svg {
          fill: $svg-icon;
          height: inherit;
          transition:.5s;
          width: inherit;
        }
      }
  
      .left-arrow {
        left: 1em;
      }
  
      .right-arrow {
        right: 1em;
      }
      
    }
  }
  
  .disappear {
    display: none;
  }
  
  .fixed {
    position: fixed;
  }
  
  .bottom {
    bottom: 0 !important;
  }
  
  .badges {
    align-items: center;
    bottom: 3em;
    color: $primary-background-color;
    display: flex;
    height: 2em;
    justify-content: center;
    position: absolute;
    width: inherit;
    
      span {
        @include transition();
        border: 1px solid $primary-background-color;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px $blurred;
        cursor: pointer;
        display: block;
        flex-direction: row;
        height: 1em;
        margin: auto 0.5em;
        width: 1em;
        z-index: 25;
    
    &:hover {
      background-color: $primary-background-color;
    }
  }
  
  }
  
  .selected {
    background-color: $primary-background-color;
  }
}

.background {
  background-color: $carousel-background-color;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
}

.no-background {
  background-color: transparent;
}

.fullscreen {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 3em;
  width: 100%;
  z-index: 100;
  
  .viewed {
    display: block;
    max-width: 80vw;
    z-index: 22;
  }
}
