<header class="flex-container flex-hor flex-wrap">
    <a href="/" class="logo flex-container flex-hor">
        <img alt="" src="/assets/logo.png"/>
        Chriba
    </a>

    <label for="menu-checkbox" class="hidden-wide menu-checkbox">☰</label>
    <input name="menu-checkbox" type="checkbox" value="checked" id="menu-checkbox" class="hidden"/>
    <nav class="flex-container flex-toggle-direction" >
        <a *ngFor="let elem of navbarElems" href="{{ elem.route }}"
           [ngClass]="{'current-route': elem.route == location.path(true) }"
        >{{ elem.name }}</a>
    </nav>
</header>
