header {
    background: white;
    color: green;
    border-bottom: 2px solid green;
    padding: 0.2em;
    font-family: inherit;
    font-size: 1.5rem;
}

.logo img {
    max-height: 3rem;
}

.current-route {
    text-decoration: underline !important;
}

nav a {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

header a, header a:visited {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

.hidden-wide {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-toggle-direction {
    flex-direction: row;
}

.flex-hor {
    flex-direction: row;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: inherit;
    padding: inherit;
}

nav ul li {
    display: inline-block;
}

.menu-checkbox {
    padding-right: inherit;
}

@media (max-width: 900px) {
    .flex-toggle-direction {
        flex-direction: column !important;
        align-items: flex-end;
    }

    #menu-checkbox:checked ~ nav {
        display: none;
    }

    .hidden-wide {
        display: inherit;
    }

    nav {
        min-width: 100%;
    }
}
