<table class="material-table" border="0" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td>{{headers[0]}}</td>
        <td>{{headers[1]}}</td>
        <td class="hidden-on-narrow">{{headers[2]}}</td>
        <td class="modifiers">{{headers[3]}}</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let field of fields">

        <td class="thumb-container">
            <img *ngIf="field.image && field.image.src"
                 [src]="field.image.src"
                 [alt]="field.image.alt"
                 [title]="field.image.alt">
        </td>

        <td class="title-container" [routerLink]="field.title.url"
            [innerHTML]="field.title.label">
        </td>

        <td class="description-container hidden-on-narrow" [innerHTML]="
          field.description?
          field.description.length > 60 ? field.description.substring(0, 60) + ' ...' : field.description
          : ''
          "></td>

        <td class="modifiers">
            <span class="btn-edit"
                  [routerLink]="field.modifiers.edit"
                  [title]="'Modifiser ' + field.title.label.replace('<br>', ' ')">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                    <path d="M6 34.5V42h7.5l22.13-22.13-7.5-7.5L6 34.5zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/>
                </svg>
            </span>
            <span class="btn-remove"
                  (click)="onRemove(field.id)"
                  [title]="'Fjern ' + field.title.label.replace('<br>', ' ')">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                    <path d="M14 22v4h20v-4H14zM24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z"/>
                </svg>
            </span>
        </td>

    </tr>
    </tbody>
</table>

<div *ngIf="create" class="create-container">
    <button [ngClass]="{ 'btn-flat': create.label, 'fab': !create.label }"
            [routerLink]="create.url"
            title="Opprett">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
            <path d="M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z"/>
        </svg>
        <span *ngIf="create.label">{{create.label}}</span>
    </button>
</div>
