<div>
  <agm-map *ngIf="mapDone"
    [latitude]="lat"
    [longitude]="long"
    [zoom]="zoom"
    [draggable]="false"
    [disableDoubleClickZoom]="zooming"
    [disableDefaultUI]="defaultUI"
    [scrollwheel]="false"
    [keyboardShortcuts]="shortcuts"
    [zoomControl]="zooming"
    [streetViewControl]="streetView"
    [scaleControl]="scaling"
    [mapTypeControl]="typeChanging"
    [rotateControl]="rotate"
    [fullscreenControl]="fullscreen">
    <agm-marker
      [latitude]="lat"
      [longitude]="long">
    </agm-marker>
  </agm-map>
</div>