.sub-container {
  width: 100%;
  margin: 0 auto 1px auto;
  padding: 20px;
  background-color: #FFFAFA;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2em;
}
