@import '../../stylesheets/declarations';
@import '../../stylesheets/material-buttons';

div {
    font-family: $primary-font;
    margin: auto;

    div {
        padding: 0.25em 0;
    }
}

.flex-container {
    margin-left: 2em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
        flex: 1;
        min-width: 16em;
        margin-top: 0;
        box-sizing: border-box;
    }
}

h2 {
    text-align: left;
    margin: 0.5em 0 0.25em;
    font-size: 0.75em;
    color: $secondary-text;
    font-weight: 100;
}

.btn-details {
    width: 75%;
    margin: auto;
}

app-map {
    margin: 1em auto;
    display: block;
    width: 100%;
    height: 250px; //TODO: Endre verdi
}

//TODO: Testing erstattes
.carousel {
    background: deeppink;
    min-height: 200px;
    min-width: 200px;
}