@import "../../stylesheets/declarations";
@import "../../stylesheets/material-buttons";

app-map {
  display: block;
  height: 16em;
  margin: 1em auto;
  width: 100%;
}

div {
  margin: auto;
}

h2 {
  margin: 2em auto;
}

h3 {
  color: $secondary-text;
  font-size: 0.75em;
  font-weight: 100;
  margin: 0.5em 0 0.25em;
  text-align: left;
}

p {
  font-weight: 100;
}

.btn-details {
  margin: auto;
  width: 100%;
}

.details-description {
  white-space: pre-wrap;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  div,
  section {
    box-sizing: border-box;
    flex: 1;
    margin-top: 0;
    max-width: 20em;
    min-width: 15em;
    padding: 0.25em 0.5em;
  }
}

@media screen and (max-width: $breakpoint * 0.53){

  .flex-container {
    margin: 0 1em;

    div {
      margin: auto 0;
      padding: 0.25em 0;
    }
  }
}
