@import "../../stylesheets/_declarations.scss";
@import "../../stylesheets/material-list.scss";
@import "../../stylesheets/material-buttons.scss";


div.info-container{
  font-family: $primary-font;
  color: $primary-text;
  left: $list-height-large + 25px;
  position: absolute;
  height: $list-height-large;
  display: block;
  margin-top: 7px;

  .label {
    font-size: .75em;
    color: $secondary-text;
  }

  .info {

  }

  .label.area {
    margin-top: 7px;
  }

}

.map{
  height: $list-height-large;
  width: $list-height-large + 10px;
  display: block;
}

button {
  width: calc(100% - (#{$list-height-large} + 30px) * 2);
}
