@import "../../stylesheets/_declarations";
@import "../../stylesheets/material-list";
@import "../../stylesheets/material-buttons";


div.info-container {
  color: $primary-text;
  display: block;
  font-family: $primary-font;
  height: $list-height-large;
  left: $list-height-large + 25px;
  margin-top: 7px;
  position: absolute;

  .label {
    color: $secondary-text;
    font-size: 0.75em;
  }

  .info {

  }

  .label.area {
    margin-top: 7px;
  }
}

.map {
  display: block;
  height: $list-height-large;
  width: $list-height-large + 10px;
}

button {
  width: calc(100% - (#{$list-height-large} + 30px) * 2);
}
