@import "../../stylesheets/_declarations.scss";
@import "../../stylesheets/material-list";

@media screen and(min-width: $resize-width) {
  margin-top: 15px;
  height: $list-height-large;

  button {
    width: calc(100% - (#{$list-height-large} + 30px) * 2);
  }

  div.info-container{
    left: $list-height-large + 10px;
    position: absolute;
    height: $list-height-large;
    display: block;
    margin-top: 7px;

    .label {
      font-size: .65em;
    }

    .info {

    }

    .label.area {
      margin-top: 7px;
    }

  }

  .map{
    background-color: #00FF00;
    height: $list-height-large;
    width: $list-height-large + 10px;
    display: block;
  }

}
