@import "../shared/item-list/item-list.component";
@import "../../stylesheets/material-list";

* /deep/ li div.info-container {

  .label {
    color: $secondary-text;
    font-size: 0.75em;
  }

  .label.area {
    margin-top: 7px;
  }
}
