<section>
    <h3>Prosjekt</h3>
    <p class="description">Tabellen viser hvilke prosjekt som er tilgjengelige på siden,
        samt gir deg mulighet til å <em>modifisere</em>, <em>Fjerne</em> eller <em>Opprette nye</em> prosjekt
    </p>
    <app-content-table [headers]="['Thumb', 'Navn', 'Beskrivelse', 'Handlinger']"
                       [fields]="fields"
                       [create]="{url: '/backdoor/projects', label: 'Opprett prosjekt'}"
                       (remove)="remove($event)"></app-content-table>
</section>