<form class="material-form upload-form" (ngSubmit)="submit($event)" enctype="multipart/form-data">
    <div class="input-divider">
        <strong class="description">{{ !filename ? 'Velg fil' : 'Fil valgt'}}</strong>
        <label class="btn fab fab-file" for="uploader" [ngClass]="{'disabled': filename}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
                <path d="M18 32h12V20h8L24 6 10 20h8zm-8 4h28v4H10z"/>
            </svg>
        </label>
        <input id="uploader" type="file" name="thumb" style="display:none;" (change)="fileChange($event)"
               required>
        <p class="description" *ngIf="filename">{{filename}}</p>
    </div>

    <div class="input-divider">
        <label class="radio-label">Størrelse</label>

        <div class="radio-container">
            <div>
                <input id="largeRadio" type="radio" name="size"
                       [(ngModel)]="size"
                       value="large" >

                <button class="btn-radio"
                        type="button"
                        [ngClass]="{'selected': size === 'large'}"
                        (click)="size = 'large'">

                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="16 -12 48 48"
                         enable-background="new 16 -12 48 48">
                        <circle cx="40" cy="12" r="16"/>
                    </svg>
                    <span>Stor</span>
                </button>
            </div>
            <div>
                <input id="smallRadio" type="radio" name="size"
                       [(ngModel)]="size"
                       value="small">
                <button class="btn-radio"
                        type="button"
                        [ngClass]="{'selected': size === 'small'}"
                        (click)="size = 'small'">

                    <svg class="small" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="16 -12 48 48"
                         enable-background="new 16 -12 48 48">
                        <circle cx="40" cy="12" r="16"/>
                    </svg>
                    <span>Liten</span>
                </button>
            </div>
        </div>
    </div>

    <button class="submit" type="submit" [disabled]="!filename || !size">Last opp</button>
</form>

<div class="thumb-lister" *ngIf="element && element.thumbnails">
    <div>
        <strong>Stor</strong>
        <ul *ngIf="element.thumbnails.large">
            <li *ngFor="let large of element.thumbnails.large">
                <img [src]="large" alt="Large thumbnail">
                <button (click)="rmv('large', large)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M38 26H10v-4h28v4z"/></svg>
                    <span>Fjern</span>
                </button>
            </li>
        </ul>
    </div>
    <div>
        <strong>Liten</strong>
        <ul *ngIf="element.thumbnails.small">
            <li *ngFor="let small of element.thumbnails.small">
                <img [src]="small" alt="Small thumbnail">
                <button (click)="rmv('small', small)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M38 26H10v-4h28v4z"/></svg>
                    <span>Fjern</span>
                </button>
            </li>
        </ul>
    </div>
</div>
