<section>
    <h3>Eiendommer</h3>
    <p class="description">Tabellen viser hvilke eiendommer som ligger ute på siden,
      samt gir deg mulighet til å <em>modifisere</em>, <em>fjerne</em> eller <em>opprette nye</em> prosjekt
    </p>

    <app-content-table [headers]="['Bilde', 'Navn', 'Beskrivelse', 'Handlinger']"
                       [fields]="fields"
                       [create]="{ url: '/backdoor/estates' }"
                       (remove)="remove($event)"></app-content-table>

</section>
