<header>

    <img [routerLink]="''" alt="Chriba" class="logo" src="/resource/logo/chriba.svg"/>

    <span class="hamburger-menu hidden-on-wide" (click)="toggleMenu()">☰</span>

    <nav [ngClass]="{'minified-menu': !expanded, 'expanded-menu': expanded}">

        <a *ngFor="let route of routes" [routerLink]="!route.route.includes('#') ? route.route : null"
           [fragment]="route.route.includes('#') ? route.route.substring(1) : null"

           [ngClass]="{ 'current-route': this.location.path(true).startsWith(route.route) }">
            {{ route.label }}</a>

        <a *ngIf="authenticated" [routerLink]="'/backdoor'"
           class="admin-route"
           [ngClass]="{ 'admin-route current-route': this.location.path(true).startsWith('/backdoor') }">
            admin
        </a>
    </nav>
</header>
