
$list-height: 35px;

.material-list {
  position: relative;

  padding: 0;

  width: 100%;
  max-width: 300px;

  margin-left: auto;
  margin-right: auto;

  list-style: none;
}


.material-list > li {
  background-color: $primary-background-color;
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  height: $list-height;
  overflow: hidden;

  @include border-radius();
  @include no-user-select();
  @include transition();

  box-shadow: $shadow;

  cursor: pointer;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:active {
    box-shadow: $shadow-active;
  }



  .img-container {
    background-color: #FFF;
    height: $list-height;
    width: $list-height + 10px;

    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }

  }

  em {
    margin-top: 3%;
    font-style: normal;
  }

  span {
    background-color: #FFF;
    height: $list-height;
    width: $list-height;

    text-align: center;
    color: $primary-color;
  }
}
