@import "_declarations.scss";

$list-height: 35px;
$list-height-large: 150px;
$resize-width: 600px;



.material-list {
  position: relative;

  padding: 0;

  width: 100%;
  max-width: 300px;

  margin-left: auto;
  margin-right: auto;

  list-style: none;

  @media screen and(min-width: $resize-width){
    max-width: 900px;
  }
}


.material-list > li {
  background-color: $primary-background-color;
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  height: $list-height;
  overflow: hidden;

  @include border-radius();
  @include no-user-select();
  @include transition();

  cursor: pointer;



  margin-top: 7px;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:active {
    box-shadow: $shadow-active;
  }



  .img-container {
    background-color: #FFF;
    height: $list-height;
    width: $list-height + 10px;
    display: block;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }

  }

  em {
    margin-top: 10px;
    font-style: normal;
  }


  .arrow {
    background-color: #FFF;
    height: $list-height;
    width: $list-height;

    text-align: center;
    color: $primary-color;
  }


  @media screen and(min-width: $resize-width) {
    margin-top: 15px;
    height: $list-height-large;

    .img-container {
      height: $list-height-large;
      width: $list-height-large + 10px;
    }

    button{
      display: block;
      height: 30px;
      position: absolute;
      bottom: 0;
      left: $list-height-large + 30px;
    }
  }
}
