@import "_declarations";

$list-height: 35px;
$list-height-large: 150px;
$resize-width: 600px;


.material-list {
  list-style: none;

  margin-left: auto;
  margin-right: auto;

  max-width: 300px;
  padding: 0;

  position: relative;
  width: 100%;

  @media screen and(min-width: $resize-width){
    max-width: 900px;
  }
}


.material-list > li {
  @include border-radius();
  @include no-user-select();
  @include transition();

  background-color: $secondary-background-color;
  box-shadow: $shadow;
  cursor: pointer;

  display: flex;
  flex-wrap: nowrap;
  height: $list-height;

  justify-content: space-between;
  margin-top: 7px;

  overflow: hidden;

  position: relative;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:active {
    box-shadow: $shadow-active;
  }

  .img-container {
    background-color: $icon-text;
    display: block;
    height: $list-height;
    overflow: hidden;
    width: $list-height + 10px;

    img {
      height: 100%;
      width: auto;
    }

  }

  em {
    font-style: normal;
    margin-top: 10px;
  }

  .arrow {
    background-color: $primary-background-color;
    color: $primary-color;
    height: $list-height;

    text-align: center;
    width: $list-height;
  }

  @media screen and(min-width: $resize-width) {
    height: $list-height-large;
    margin-top: 15px;

    .img-container {
      height: $list-height-large;
      width: $list-height-large + 10px;
    }

    button {
      bottom: 0;
      display: block;
      height: 30px;
      left: $list-height-large + 30px;
      position: absolute;
    }
  }
}
