/*
 * @created: 2016-01-31
 *
 * Material-buttons contains the styles rules for the buttons, styled to
 * follow material design
 */

button {
  cursor: pointer;
  background-color: $secondary-background-color;
  border: none;
  border-radius: 2px;
  color: $dark-primary;
  font-size: 0.9em;
  padding: 0.5em 0.8em 0.5em 0.8em;

  box-sizing: border-box;
}

.btn {
  background-color: $primary-background-color;
  color: $primary-color;

  position: relative;
  @include border-radius();
}

// Floating action button
.fab {
  background-color: #FFF;
  position: relative;
  border-radius: 50%;
}

.submit {
  margin-top: 0.1em;
  width: 100%;
  box-shadow: $shadow;
}

.btn-flat:hover {
  color: $secondary-text;
}

.btn-logout {
  color: $error-color;
}