/*
 * @created: 2016-01-31
 *
 * Material-buttons contains the styles rules for the buttons, styled to
 * follow material design
 */

@import "_declarations.scss";

button {
  background-color: $primary-background-color; // $primary-background-color
  color: $primary-color; //$primary-color

  position: relative;
  @include border-radius();
}

// Floating action button
.fab {
  background-color: #FFF;
  position: relative;
  border-radius: 50%;
}
