<section>
    <h3>Profilinformasjon</h3>
    <p class="description">Her kan du gjøre endringer på profilen din.
        <strong>N.B.</strong> Hugs at dette kan påvirke pålogginsinformasjonen
    </p>

    <form class="material-form" [formGroup]="form" (ngSubmit)="submit(form.value, form.valid)">

        <div class="input-divider">
            <label>Fornavn</label>
            <input type="text" formControlName="firstName" required>
            <small class="input-feedback" [hidden]="form.get('firstName').valid || !form.get('firstName').dirty">Du må ha med fornavn!</small>
        </div>
        <div class="input-divider">
            <label>Etternavn</label>
            <input type="text" formControlName="lastName" required>
            <small class="input-feedback" [hidden]="form.get('lastName').valid || !form.get('lastName').dirty">Du må ha med etternavn!</small>
        </div>

        <div class="input-divider">
            <label>Epost</label>
            <input type="email" formControlName="email" required>
            <small class="input-feedback" [hidden]="form.get('email').valid || !form.get('email').dirty">Ugyldig epost adresse!</small>
        </div>

        <div class="input-divider">
            <label>Gammelt passord</label>
            <input type="email" formControlName="oldPassword">
        </div>

        <div class="input-divider">
            <label>Nytt passord</label>
            <input type="email" formControlName="password">
            <small class="input-feedback" [hidden]="form.get('password').valid || !form.get('password').dirty || !form.get('password').value">
                Ugyldig passord! Må vere minst 8 tegn langt</small>
        </div>

        <div class="input-divider">
            <label>Bekreft passord</label>
            <input type="email" formControlName="confirmPassword">
            <small class="input-feedback" [hidden]="form.get('confirmPassword').valid || !form.get('confirmPassword').dirty">Ugyldig passord! Må vere minst 8 tegn langt</small>
        </div>

        <button class="submit" type="submit" [disabled]="!form.valid || !form.dirty">Oppdater profil</button>
    </form>

</section>
