div {
    width: 220px;
    margin: auto;
    font-size: 0.75em;
    color: #BDBDBD;
    font-weight: 100;
}

div > ul {
    margin-top: 0.3em;
    padding: 0;
    list-style: none;
    font-size: calc(1em + 1em/3);
    color: #F5F5F5;
    font-weight: normal;
}